:root {
    --ffpoppins: "Poppins", sans-serif;
    --ffroboto: "Roboto", sans-serif;
    --ffoswald: "Oswald", sans-serif;

    --colorWhite: rgba(255, 255, 255, 0.9);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
    display: grid;
    place-content: center;
    font-family: var(--ffpoppins);
    color: var(--colorWhite);
}

.container {
    width: 570px;
    height: 350px;
    padding: 12px;
    perspective: 1000px;
}

.container:hover .cardCnt {
    transform: rotatey(180deg);
}

.cardCnt {
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
    transition: all .6s ease;
    box-shadow: 0 0 30px -6px black;
    border-radius: 12px;
}

.card {
    height: 100%;
    width: 100%;
    position: absolute;
    backface-visibility: hidden;
    background: red;
    background: #E61F27;
    background: #EB2028;

    border-radius: 12px;
    padding: 12px;
}




.cardFrontTop {
    height: 25%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cardFront .logocnt {
    width: 40%;
}

.logocnt img {
    width: 100%;
}

.mainTitle {
    font-weight: 400;
    font-size: 1.5em;
    margin-right: 20px;
}

.mainTitle span {
    font-weight: 600;
}

.cardFrontMid {
    display: flex;
    align-items: center;
    margin: 12px;
}

.cardFrontMid img {
    width: 60px;
}

.cardSmartChip {
    width: 80px;
    height: 60px;
    border-radius: 12px;
    overflow: hidden;
    margin-right: 20px;
}

.cardSmartChip img {
    width: 100%;
    height: 100%;
}

.cardNumber {
    font-size: 1.8em;
    display: flex;
    justify-content: space-evenly;
    width: 80%;
    margin: auto;
    text-shadow: 2px 2px black;
}

.cardFrontBottom {
    display: flex;
    justify-content: space-between;
    font-size: 1.2em;
    letter-spacing: 2px;
    align-items: center;
    height: 25%;
    overflow: hidden;
    margin-top: 8px;
}

.cardHolderName {
    margin-left: 12px;
}

.visaCnt {
    margin-top: 40px;
}

.visaCnt img {
    height: 140px;
}

.expiryDate {
    display: inline;
    padding: 6px;
    position: absolute;
    bottom: 15%;
    right: 30%;
    display: flex;
    width: 90px;
}

.expiryDate div {
    font-size: .65em;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 10px;
}

.expiryTxt {
    color: rgba(255, 255, 255, 0.6);
}

.expiryDateNum {
    font-size: 1em !important;
}

.crn {
    display: inline;
    position: absolute;
    bottom: 8px;
    left: 20px;
    color: rgba(255, 255, 255, 0.6);
    font-size: .75em;
}











.cardBack {
    transform: rotateY(180deg);
    overflow: hidden;
}

.cardBackTop {
    font-size: .8em;
    display: flex;
    justify-content: center;
}

.cardBackBlackStrip {
    height: 70px;
    margin: 6px 0;
}

.cardBackBlackStrip div {
    width: 110%;
    height: 100%;
    background: linear-gradient(black, #111);
    margin-left: -5%;
}

.cardBackAutSignature {
    height: 80px;
}

.autSigTxt {
    font-size: .65em;
}

.stripCnt {
    height: 60px;
    width: 100%;
    padding: 6px 0;
    display: flex;
    align-items: center;
}

.repeatingGradientStrip {
    height: 100%;
    background: repeating-linear-gradient(white, white 5px, yellow 5px, yellow 10px);
    width: 60%;
}

.cvvTxt {
    background: var(--colorWhite);
    color: black;
    padding: 6px;
    font-style: italic;
}

.cardBackFooter {
    height: 130px;
    width: 100%;
    font-size: .75em;
    padding: 0 6px;
}

.internationalDCTxt {
    text-align: center;
    margin: 6px;
}

.fnssmall {
    font-size: .65em;
}

.supportDetails {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}

.qrcodeCnt {
    height: 80px;
    width: 80px;
    background: var(--colorWhite);
    position: absolute;
    top: 38%;
    right: 24px;
    padding: 4px;
}

.qrcodeCnt img {
    height: 100%;
}

.scanForOfferTxt {
    text-align: center;
    font-size: .75em;
}